<div class="login">
  <div class="login-title">
    Log In
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()"
    [class.form-fade]="loading">
    <div class="login-input">
      <label>Email</label>
      <input type="email" placeholder="email" formControlName="email">
      <span>Invalid Email</span>
    </div>
    <div class="login-input">
      <label>Password</label>
      <input type="password" placeholder="password" formControlName="password">
      <span>Invalid Password</span>
    </div>

    <span class="form-error">
      {{errorMessage}}
    </span>

    <button (click)="login()">Log In</button>
  </form>
  @if (loading) {
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  }
  <div class="register">
    Don't have an account? <span routerLink="/register">Register</span>!
  </div>
</div>
<img src="assets/girl-computer.webp" alt="girl-on-computer">