<div class="login">
  <div class="login-title">
    Log In
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="login-input">
      <label>Email</label>
      <input type="email" placeholder="email" formControlName="email">
      <span>Invalid Email</span>
    </div>
    <div class="login-input">
      <label>Password</label>
      <input type="password" placeholder="password" formControlName="password">
      <span>Invalid Password</span>
    </div>

    <button [class.button-disabled]="loginForm.invalid">Log In</button>
  </form>
  <div class="register">
    Don't have an account? <span routerLink="/register">Register</span>!
  </div>
</div>