<div class="expense-form-container">
  <div class="title">
    @if (!data) {
      {{ type === 'income' ? 'Add An Income' : 'Add An Expense' }}
    } @else {
      {{ initialType === 'income' ? 'Edit Income' : 'Edit Expense' }}
    }
    <mat-icon fontIcon="close" (click)="matDialog.closeAll()"></mat-icon>
  </div>
  <form [formGroup]="expenseForm"
    [class.income-background]="type === 'income'">
    @if (type === 'expense') {
      <div class="type-input type-input--expense">
        <input formControlName="type">
        <button (click)="updateType('income')">Income</button>
      </div>
    } @else {
      <div class="type-input type-input--income">
        <button (click)="updateType('expense')">Expense</button>
        <input formControlName="type">
      </div>
    }
    <div class="expense-input amount-input">
      <label>amount</label>
      <input type="text" placeholder="$" formControlName="amount" numbersOnly maxLength="7">
    </div>
    <div class="expense-input">
      <label>Title</label>
      <input type="text" placeholder="title" formControlName="title">
    </div>
    <div class="expense-input">
      <label>Note</label>
      <input type="text" placeholder="note" formControlName="note" maxLength="50">
    </div>
    @if (!data) {
      <button (click)="onSubmit()" [class.button-disabled]="expenseForm.invalid">Add</button>
    } @else {
      <button (click)="onSubmit()" [class.button-disabled]="expenseForm.invalid">Update</button>
    }
  </form>
</div>